$roxoEscuro:  #090610;
$roxo: #120c1f;
$branco: #FFFFFF;
$roxoClaro: #9063f8;
$roxoNeon: #5902ac;
$claro: #caa8f0;
$cinzaClaro: #B1B1B1;
$preto: #000;
$font: 'Kanit';


body {
    font-family: $font;
    background-color: $roxoEscuro;
    height: 100vh;
}

header {
    background-color: $roxo !important;
    
    .navbar {
        
        .container-fluid {

            .navbar-brand {
                width: 10%;

                img {
                    width: 100%;
                }
            }

            a {
                color: $branco;
            }

            a:hover {
               color: $roxoClaro;
            }

            .navbar-toggler {
                border: none !important;
                color: $branco;
            }

            .navbar-collapse {

                .dropdown-menu {
                    background-color: $roxo;

                    .dropdown-item:hover {
                        background-color: $roxoEscuro;
                    }
                }
            }
        }
    }
}

main {

    h1 {
        color: $branco;
        padding: 5% 0%;
    }

    .swiper {

        img {
            width: 100%;
            border-radius: 10px;
        }

        .swiper-pagination, .swiper-button-prev, .swiper-button-next {
            color: $roxoClaro;
            position: initial;
        }

        .swiper-wrapper {

            .swiper-slide {

                .jogosHome {

                    .flex {

                        .descricao {
                            

                            
                        }
                    }
                }
            }
        }
    }

    .infoCards {
        margin-top: 5%;

        .cards {
            display: block;

            img {
                width: 100%;
                border-radius: 3px 3px 0px 0px;
            }
    
            .card {
                border: none;
            }
    
            .card-body {
                background-color: $roxo;
                color: $branco;
                border-radius: 0px 0px 3px 3px;
    
                .card-title {
                    margin: 0;
                    padding-top: 30px;
                }
            }
        }
    }

    .ultimosCards {
        margin-top: 5%;

        .cards {
            img {
                width: 100%;
            }
    
            .card {
                border: none;
            }
    
            .card-body {
                background-color: $roxo;
                color: $branco;
                border-radius: 0px 0px 3px 3px;

                .botao1 {
                    padding: 2px;
                }
            }
        }
    }

    .glow-on-hover {
        color: $branco;
        cursor: pointer;
        position: relative;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(3px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    
    .glow-on-hover:active {
        color: $preto;
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $roxoClaro;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }

    .desenvolvedores {
        .cards {
            margin: 5% 0;
        }

        .card {
            border: none;

            .card-body {
                background-color: $roxo;
                color: $branco;
            }
        }
    }

    .contato {

        .selecao {

            .form-select {
                background-color: $claro;
                box-shadow: 0px 0px 10px $roxoNeon;
                border: 2px solid $roxoNeon;
                padding: 1%;
            }
        }

        .card {
            background: none;
            color: $branco;

            .campos {

                .form-control {
                    background-color: $claro;
                    box-shadow: 0px 0px 10px $roxoNeon;
                    border: 2px solid $roxoNeon;
                    padding: 2.5%;
                }
            }

            .btn {
                padding: 2%;
                border-radius: 5px;
                color: $branco;
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: .25rem;
                transition: all .3s;
                position: relative;
                z-index: 1;
                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: $roxoNeon;
                  border-radius: 5px;
                  z-index: -2;
                }
                &:before {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 0%;
                  height: 100%;
                  background-color: darken($claro, 20%);
                  transition: all .3s;
                  border-radius: 5px;
                  z-index: -1;
                }
                &:hover {
                  color: #fff;
                  &:before {
                    width: 100%;
                  }
                }
              }
        }
    }
}

footer {
    padding: 8% 0 3% 0;

    .logos {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 3% 0%;
    }

    .logos i {
        font-size: 1.8em;
        color: $cinzaClaro;
    }
      
    i:hover {
        color: $roxoClaro;
    }
      
    .copyright {
        color: $branco;
        text-align: center;
        opacity: 0.4;
        font-size: 14px;
    }
      
    .copyright span {
        color: $roxoClaro;
        font-weight: 500;
        opacity: 1;
    }
     
}

@media(min-width: 768px) {
    main {
        .swiper {

            img {
                width: 50%;
            }
        }

        .infoCards {

            .cards {
                
                .card {

                    img {
                        border-radius: 3px 0px 0px 3px;
                    }

                    .card-body {
                        border-radius: 0px 3px 3px 0px;
                    }
                }
            }
        }

        .ultimosCards {

            .cards {

                .card {

                    .card-body {
                        border-radius: 0px 0px 3px 3px;
                    }
                }
            }
        }

        .desenvolvedores {

            .cards {

                .card {
                    margin-bottom: 0px !important;
                }
            }
        }

        .contato {

            .selecao {
                gap: 2%;

                .form-select {
                    width: 25% !important;
                }
            }

            .card {

                .campos {
                    width: 50% !important;
                }
            }
        }
    }
}

@media(max-width: 425px) {
    header {
        
        .navbar {
            
            .container-fluid {
    
                .navbar-brand {
    
                    img {
                        width: 200%;
                    }
                }
            }
        }
    }
}